footer.content-info {
  background-color: $navbar-background;
  color: $image-frame;
  padding: 1rem;
  .cc-brand-link {
    text-align: right;
    margin-bottom: 1rem;
    .footer-brand {
      display: block;
    }
  }
}
