.site-header, .bg-custom {
  background-color: $navbar-background;
}

.slogan-header {
  font-family: $font-family-header;
  float: left;
  width: initial;
  line-height: 4.5;
  color: $color-light;
  padding: 7px 0 0;
}

.nav-link {
  font-family: $font-family-menu;
  text-transform: uppercase;
  line-height: 4.5;
}

.navbar-brand {
  img {
    height: 75px;
  }
}
