.teaser-text, .bio-text {
  font-family: $font-text-sans-serif;
}

.chef-menu-description {
  .run-dates {
    font-family: $font-text-sans-serif;
    font-size: .75em;
  }
  .description {
    font-family: $font-text-sans-serif;
  }
}
