@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Montserrat-Regular.otf?") format("otf");
}
@font-face {
    font-family: "Montserrat-Bold";
    font-style: bold;
    font-weight: 700;
    src: url("../fonts/Montserrat-Bold.otf?") format("otf");
}

p {
  font-family: $font-text-sans-serif;
}
.content {
  padding: 25px 20px;
}

.image-container {
  padding: 2%;
  background-color: $image-frame;
}

.object-fit_fill { object-fit: fill }
.object-fit_contain { object-fit: contain }
.object-fit_cover { object-fit: cover }
.object-fit_none { object-fit: none }
.object-fit_scale-down { object-fit: scale-down }
